/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.row-header {
  font-weight: bold;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.map-container, .alignment-container, .chunkalignment-container {
  position: relative;
}

.mv-tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: rgba(255,255,255,0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.mv-tooltip.hidden {
  display: none;
}

.mv-tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.matched-chunk-info {
  width: auto;
  height: auto;
  padding: 5px;
  background-color: rgba(255,255,255,0.8);
  background-color: #d0d0d0;
  background-color: white;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
/*  border: 1px solid #ccc;*/
}

svg.chunk-alignment{
  font-family: 12px;
}

text.chunk-label {
  text-anchor: middle;
  font-family: verdana, sans-serif;
  font-size: 12px;
  /*fill: grey;*/
}

text.chunk-label.ref-label {
  transform: translate(0, -0.2em);
}

text.chunk-label.query-label {
  transform: translate(0, 3.2em);
}

g.matched-chunk.active rect {
  opacity: 0.7;
  stroke-width:1;
  stroke: mediumspringgreen;
}

g.matched-chunk.active text {
  font-weight: bold;
}

line.missed-site {
  stroke: red;
  stroke-width: 1px;
}
