
<div class="alignment-container">

<!--   <pre>
  {{ alignment | json }}
  </pre> -->

  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <th>
          Reference
        </th>
        <td>
          {{ alignment.ref_id }}
        </td>
      </tr>
      <tr>
        <th>Reference Location</th>
        <td>{{ firstChunk.ref_chunk.start }} to {{ lastChunk.ref_chunk.end}},
          {{ alignment.is_forward ? 'Forward' : 'Reverse' }}
        </td>
      </tr>
      <tr>
      <tr>
        <th>
            Total Score
        </th>
        <td>
          {{ alignment.total_score_rescaled | number:3 }}
        </td>
      </tr>
      <tr>
        <th>
          Ref miss score
        </th>
        <td>
          {{ alignment.rescaled_score.ref_miss_score }}
        </td>
      </tr>
      <tr>
        <th>
          Sizing score
        </th>
        <td>
          {{ alignment.rescaled_score.sizing_score | number:3 }}
        </td>
      </tr>
      <tr>
        <th>
          Reference Misses (rate)
        </th>
        <td>
          {{ alignment.ref_misses }} ({{ alignment.ref_miss_rate*100 | number:2 }}%)
        </td>
      </tr>
      <tr>
        <th>
          Query Misses (rate)
        </th>
        <td>
          {{ alignment.query_misses }} ({{ alignment.query_miss_rate*100 | number:2 }}%)
        </td>
      </tr>
      <tr>
        <th>
          Query Scaling Factor
        </th>
        <td>
          {{ alignment.query_scaling_factor | number:2 }}
        </td>
      </tr>
  <!--     <tr>
        <td>
          Total Log. Likelihood
        </td>
        <td>
          {{ alignment.total_log_likelihood | number:3 }}
        </td>
      </tr> -->
    </tbody>
  </table>
  
<!--   
  <h3>Query Map:</h3>
  <map map-data="queryMap"></map>
  <h3>Reference Excerpt:</h3>
  <map map-data="referenceMapSlice"></map>
 -->
  <chunkalignment alignment></chunkalignment>

<!--   <h3>Alignment:</h3>
  <pre>
  {{ alignment }}
  </pre> -->

</div>