<div class="chunkalignment-container">
    <div class="mv-tooltip hidden">
        <p>Chunk {{ tooltipData.index + 1 }} of {{ alignment.matched_chunks.length }}</p>

        <ul>
        <li>{{ tooltipData.num_ref_frags }} reference fragments.</li>
        <li>{{ tooltipData.num_query_frags }} query fragments.</li> 
        <li>{{ tooltipData.chunk.query_chunk.size | number}} bp query</li>  
        <li>{{ tooltipData.chunk.ref_chunk.size | number }} bp reference.</li>
        </ul>
  </div>
</div>
