<div class="chunkalignment-container">
    <div class="matched-chunk-info">

      <div ng-hide="tooltipData">
      <p>Select a matched chunk to display matched chunk data</p>
      </div>

      <div ng-show="tooltipData">
        <h4>
        Chunk {{ tooltipData.index + 1 }} of {{ alignment.matched_chunks.length }}
        </h4>


        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Source</th>
              <th>Num. Fragments</th>
              <th>Fragment Sizes</th>
              <th>Total Size (bp)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Reference </td>
              <td> {{ tooltipData.num_ref_frags }} </td>
              <td>[
                <span ng-repeat="f in tooltipData.ref_chunk.fragments">
                {{ f | number }} <span ng-hide="$last"> | </span>
                </span>
                ]
              </td>
              <td> {{ tooltipData.ref_chunk.size | number }}</td>
            </tr>
            <tr>
              <td> Query </td>
              <td> {{ tooltipData.num_query_frags }} </td>
              <td>[
                <span ng-repeat="f in tooltipData.query_chunk.fragments">
                {{ f | number }} <span ng-hide="$last"> | </span>
                </span>
                ]
              </td>
              <td> {{ tooltipData.query_chunk.size | number }}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered table-condensed">
          <thead>
            <th>Query Miss Score</th>
            <th>Ref Miss Score</th>
            <th>Sizing Score</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ tooltipData.score.query_miss_score | number:2 }}</td>
              <td>{{ tooltipData.score.ref_miss_score | number:2 }}</td>
              <td>{{ tooltipData.score.sizing_score | number:2 }}</td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
</div>
