<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/queries">List Queries</a></li>
  </ul>
  <h3 class="text-muted">MalignViz</h3>
</div> -->

<div class="jumbotron">
  <h1>MalignViz</h1>
  <h4>A tool for visualizing MalignerDP alignments.</h4>
  <br>
  <a class="btn btn-lg btn-primary" ui-sref="experiments.list">View Experiments</a>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Created by Lee Mendelowitz (lmendelo@umiacs.umd.edu)</p>
</div>
