<p>This is the view_alignments view.</p>

<div ng-controller="ListQueriesCtrl">

  <div>
  <input type="text" ng-model="queryMapName">
    <button type="button" class="btn btn-success" ng-click="goToMap()" ng-disabled="!queryMapName">Go</button>
    <button type="button" class="btn btn-primary" ng-click="getQueries()">List Query Ids</button>
  </div>

  <div>
    <ul>
      <li ng-repeat="queryId in queryIds">
        <a ng-href="#/query/{{queryId}}">{{queryId}}</a>
      </li>
    </ul>
  </div>

</div>