
<a class="btn" href="/#/queries">Back</a>

<h1>Query: {{queryId}}</h1>
<p>Detail for query: {{ queryId }}</p>
Have route params:

<pre>
{{ routeParams }}
</pre>

<div>

{{status_message}}

<h2>Query Map Details</h2>

<table class="table table-bordered">
  <tr>
    <td class="row-header">Map</td>
    <td>{{ queryMap.name }}</td>
  </tr>
  <tr>
    <td class="row-header">Fragments</td>
    <td>{{ queryMap.num_fragments }}</td>
  </tr>
  <tr>
    <td class="row-header">Length</td>
    <td>{{ queryMap.length | number}} bp</td>
  </tr>
</table>

<map map-name={{ queryId }} map-data="queryMap"></map>

<div ng-repeat="aln in alignments">
<hr>
<alignment query-map="queryMap" alignment-data="aln"></alignment>
</div>

</div>